<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/website_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/blog_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/blog_style_res.css' %}" />
  </head>

  <body>
    <nav class="mb-3">
      <form action="" method="get">
        <input
          type="search"
          name="query"
          id="query"
          placeholder="Search posts ..."
        />
        <button class="btn" type="submit">
          <svg
            fill="#eeeeee"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 50 50"
            width="30px"
            height="30px"
          >
            <path
              d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"
            />
          </svg>
        </button>
      </form>

      <ul>
        <li class="mx-3"><a href="{% url 'website:index' %}">Home</a></li>
        {% if request.user.is_authenticated %}
        <li class="mx-3"><a href="">Dashboard</a></li>
        {% endif %}
      </ul>
    </nav>

    {% block content %} {% endblock %} {% load static %}


    <hr>
    <footer class="p-3">
      <p class="text text-muted">
        &copy;2021 Desinged and Coded by Raynard Dodzi.
      </p>
    </footer>

    <script src="{% static 'js/blog_app.js' %}"></script>
  </body>
</html>
