<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!DOCTYPE html>
    <html lang="en">

    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="theme-color" content="#1c1b24" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/png">
        <title>{% block document_title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
        <style>
            nav {
                background-color: goldenrod;
                width: 100%;
                border-bottom: 2px solid gray;
                color: white;
            }

            .content {
                padding: 1em;
            }
        </style>

    </head>

<body>
    <nav class="py-5">
        <h3 class="text text-center">
            {% block page_title %}{% endblock %}
        </h3>
    </nav>

    <div class="content col-md-6 col-sm-11 mx-auto">
        {% block content %} {% endblock %}
    </div>

    <hr />
    <footer class="p-3">
        <p class="text text-muted">
            &copy;2021 All rights reserved. dodziraynard.me
        </p>
    </footer>

    <script src="{% static 'js/blog_app.js' %}"></script>
</body>

</html>
</head>