{% extends 'amexpert/website/base_template.html' %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">We bridge the gap between industry and academia!</h1>
        <h2 data-aos="fade-up" data-aos-delay="400" style="font-size: 22px;">We are a group of individuals that are
          dedicated to assisting others
          in obtaining industry expertise through the use of free resources.</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="{% url 'amexpert:next_event' %}"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Our Next Event</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="/static/website/assets/img/amexpert-hero.jpg" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>Who We Are</h3>
            <p>
              <strong style="color: #4154f1;">AmExpert</strong> is a community on the University of Ghana campus
              dedicated
              to working closely
              with students to
              close the gap between industry and academia, creating new opportunities for students to learn
              industry-valued skills. We provide students with valuable resources and training to ensure that they have
              everything they need to face any challenges head on, achieve their goals, and better serve their
              community.
            </p>
            <div class="text-center text-lg-start">
              <a href="{% url 'amexpert:new_membership' %}"
                class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Join Us</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="/static/website/assets/img/about-us.jpg" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section><!-- End About Section -->

  <!-- ======= Values Section ======= -->
  <section id="values" class="values">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Our Values</h2>
        <h3 class="col-md-8 mx-auto"><strong>
            Our aim is to equip our members, regardless of their field, with technical
            skills to
            bridge the gap between
            academia and industry.</strong></h3>
      </header>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="box">
            <img src="/static/website/assets/img/values-1.png" class="img-fluid" alt="">
            <h3>Respect</h3>
            <p>As a community we value and treat our members with dignity and respect.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <img src="/static/website/assets/img/values-2.png" class="img-fluid" alt="">
            <h3>Compassion</h3>
            <p>We are compassionate and friendly to everyone we meet, and we do not discriminate.</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
          <div class="box">
            <img src="/static/website/assets/img/values-3.png" class="img-fluid" alt="">
            <h3>Teamwork</h3>
            <p>One of our primary aims as a community is to encourage our members to work together.</p>
          </div>
        </div>

      </div>

    </div>

  </section><!-- End Values Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Services</h2>
        <p>What we do to help our members</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-box blue">
            <i class="ri-discuss-line icon"></i>
            <h3>Hands-on Workshops</h3>
            <p>We organize workshops to help our community members in the practical application of new technologies to
              solve problems and also motivate them be creative. </p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-box orange">
            <i class="ri-discuss-line icon"></i>
            <h3>Hackathons</h3>
            <p>Hackathons are a great way to transform your wild ideas into practical projects. We provide mentors,
              entertaining events, lecturers, and friends, among other things.</p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-box green">
            <i class="ri-discuss-line icon"></i>
            <h3>Tech Talk</h3>
            <p>
              Tech Talks are University-wide events bringing together information technology enthusiasts from across our
              campuses to share ideas, knowledge, or even a war story or two</p>
            <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Services Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>F.A.Q</h2>
        <p>Frequently Asked Questions</p>
      </header>

      <div class="row">
        <div class="col-lg-6">
          <!-- F.A.Q List 1-->
          <div class="accordion accordion-flush" id="faqlist1">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-1">
                  What is AmExpert?
                </button>
              </h2>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  We are a group of individuals that are dedicated to assisting others in obtaining industry expertise
                  through the use of free resources.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-2">
                  Who is a GitHub Campus Expert?
                </button>
              </h2>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  Campus Experts are student leaders that strive to build diverse and inclusive spaces to learn skills,
                  share their experiences, and build projects together. They can be found across the globe leading
                  in-person and online conferences, meetups, and hackathons, and maintaining open source projects.
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-content-3">
                  Who is Raynard Dodzi?
                </button>
              </h2>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                <div class="accordion-body">
                  Raynard Dodzi is the GitHub Campus Expert for University of Ghana. View his profile on the GitHub
                  Campus Experts
                  page <a href="https://githubcampus.expert/dodziraynard/" target="_blank">here.</a>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-lg-6">

          <!-- F.A.Q List 2-->
          <div class="accordion accordion-flush" id="faqlist2">

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq2-content-1">
                  Who can join the AmExpert Community?
                </button>
              </h2>
              <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                <div class="accordion-body">
                  Anyone with an interest in technology, regardless of programm of study, can be a part of our
                  community.
                  The only requirement is dedication and passion to learn tech. You can register <a
                    href="{% url 'amexpert:new_membership' %}"">here</a>.
                </div>
              </div>
            </div>

            <div class=" accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq2-content-2">
                        How can I be a part of the core team members?
                      </button>
                    </h2>
                    <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                      <div class="accordion-body">
                        You can reach out to Raynard Dodzi on <a href="tel:+233 24 962 6071">+233 24 962 6071</a>
                        (WhatsApp)
                        or email him on <a href="mailto:dodziraynard@gmail.com">dodziraynard@gmail.com</a>
                      </div>
                    </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#faq2-content-3">
                      Disclamer
                    </button>
                  </h2>
                  <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                    <div class="accordion-body">
                      GitHub Campus experts are <strong>not</strong> employees/interns of GitHub and as such do not
                      receive
                      any compensations for what they do. They are just passionate individuals trying to make their
                      campuses
                      better 😃.
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>

        </div>

  </section><!-- End F.A.Q Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Team</h2>
        <p>Our hard working team</p>
      </header>

      <div style="justify-content: center;" class="row gy-4">


        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="/static/website/assets/img/team/hrd.png" class="img-fluid" alt="">
              <div class="social">
                <a href="https://www.linkedin.com/in/raynard-dodzi-helegah/" target="_blannk"><i
                    class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Raynard Dodzi Helegah</h4>
              <span>Team Lead</span>
              <p>I'm CS major, the GitHub Campus Expert, and a fullstack web and mobile developer </>
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="" class="img-fluid" alt="">
              <div class="social">
                <a href="https://twitter.com/kwabsly"><i class="bi bi-twitter"></i></a>
                <a href="https://www.linkedin.com/in/koranteng-michael-12b881187/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Michael Koranteng</h4>
              <span>Data Science</span>
              <p>A CS student at the University of Ghana with keen interest in Cloud
                Computing, Data Science and Data Analytics.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="/static/website/assets/img/team/eunice.png" class="img-fluid" alt="">
              <div class="social">
                <a href="https://www.linkedin.com/in/eunice-adorkor/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Eunice Adorkor</h4>
              <span>UI/UX Designer</span>
              <p>An IT student, frontend developer and UIUX Designer</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="/static/website/assets/img/team/kelvin.png" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Kelvin</h4>
              <span>CTO</span>
              <p>I'm a Software Engineer with extensive expertise in cutting-edge technology.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section><!-- End Team Section -->

  <!-- ======= Sponsors Section ======= -->
  <section id="clients" class="clients">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Our Sponsors</h2>
      </header>

      <div class="clients-slider swiper">
        <div style="justify-content:space-around;" class="swiper-wrapper align-items-center">
          <div style="width:300px; height:200px;"><img src="/static/website/assets/img/sponsors/github-logo.png"
              class="img-fluid" alt="">
          </div>
          <div style="width:300px; height:200px;"><img src="/static/website/assets/img/sponsors/ug-logo.png"
              class="img-fluid" alt="">
            <div class="swiper-pagination"></div>
          </div>
        </div>

  </section><!-- End Clients Section -->

</main><!-- End #main -->

{% endblock content %}